<div class='change-password-wrapper'>

  <div class='title'>Change Password</div>
  <form class="inputForm" [formGroup]="changePassFrm" (submit)="onSave(changePassFrm.value)">
    <input type="password" formControlName="current" placeholder='Old Password' class="tooltip">
    <div>
      <input id="password" type="password" formControlName="password" placeholder='New Password'>
      <i class="fas fa-info-circle tooltip"> <span class="tooltiptext">{{tooltipText}}</span></i>
    </div>
    <input type="password" formControlName="confirmPassword" placeholder='New Password Again'>
    <div class="error-message" *ngIf="password.errors?.pattern && password.touched && password.dirty">
      Password is invalid!</div>
    <div class="error-message" *ngIf="confirmPassword.errors?.NoPasswordMatch && confirmPassword.touched && confirmPassword.dirty">
      Password does not match<br>the confirm password!
    </div>
    <div class="error-message" *ngIf="current.errors?.WrongPassword && current.touched && current.dirty">
      Wrong Password!</div>
    <button [disabled]="changePassFrm.invalid" type="submit">Save</button>
  </form>
  <button (click)="onCancel()" matTooltip="Info about the action">Cancel</button>
</div>