.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 5%;
    .menus {
        align-items: center;
        app-navigator {
            margin-left: 15px;
        }
    }
    .left-menus {
        display: flex;
        .logo {
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .right-menus {
        display: flex;
        div {
            cursor: pointer;
        }
        .img {
            cursor: pointer;
        }
        hr {
            height: 80%;
            margin: 10px 10px;
        }
    }
}